In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-04-05 17:23:46,3.0707,172.7902,80.71,82,33,15.26
1,1,Qui Nhon,VN,2022-04-05 17:23:47,13.7667,109.2333,74.26,83,99,15.37
2,2,Sjenica,RS,2022-04-05 17:23:48,43.2731,19.9994,42.12,50,0,1.54
3,3,Fortuna,US,2022-04-05 17:23:48,40.5982,-124.1573,52.14,86,0,10.36
4,4,Bredasdorp,ZA,2022-04-05 17:20:18,-34.5322,20.0403,61.88,64,17,15.84

In [11]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [31]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

#Remove negative values 
#for temp in max_temp:
 #   temps.append(max(temp, 0))

#weights = max_temp
#gmaps.heatmap_layer(locations, weights= temps)

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Add the heat layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds=  city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [41]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-04-05 17:23:46,3.0707,172.7902,80.71,82,33,15.26
7,7,Carnarvon,AU,2022-04-05 17:23:49,-24.8667,113.6333,75.27,78,0,12.66
14,14,Saint-Philippe,RE,2022-04-05 17:23:51,-21.3585,55.7679,78.39,86,73,9.66
15,15,Avarua,CK,2022-04-05 17:19:13,-21.2078,-159.7750,77.05,94,40,3.44
16,16,Fare,PF,2022-04-05 17:23:51,-16.7000,-151.0167,82.65,75,7,21.97
19,19,Caravelas,BR,2022-04-05 17:23:52,-17.7125,-39.2481,85.53,57,4,8.12
22,22,Iraray,PH,2022-04-05 17:23:53,8.9936,118.0511,75.54,96,100,3.58
23,23,Rikitea,PF,2022-04-05 17:19:11,-23.1203,-134.9692,78.57,68,13,19.80
25,25,Puerto Ayora,EC,2022-04-05 17:23:54,-0.7393,-90.3518,84.16,86,71,3.00
27,27,Iberia,US,2022-04-05 17:23:54,29.9502,-91.7507,79.05,78,100,16.11

In [42]:
preferred_cities_df.count()

City_ID       191
City          191
Country       190
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [43]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [44]:
preferred_cities_df.notnull().sum()

City_ID       191
City          191
Country       190
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [46]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(5)

              City Country  Max Temp      Lat       Lng Hotel Name
0       Butaritari      KI     80.71   3.0707  172.7902
7        Carnarvon      AU     75.27 -24.8667  113.6333
14  Saint-Philippe      RE     78.39 -21.3585   55.7679
15          Avarua      CK     77.05 -21.2078 -159.7750
16            Fare      PF     82.65 -16.7000 -151.0167

In [61]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [63]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,80.71,3.0707,172.7902,Isles Sunset Lodge
7,Carnarvon,AU,75.27,-24.8667,113.6333,Hospitality Carnarvon
14,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
15,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
16,Fare,PF,82.65,-16.7000,-151.0167,Maitai Lapita Village Huahine
19,Caravelas,BR,85.53,-17.7125,-39.2481,Pousada dos Navegantes
22,Iraray,PH,75.54,8.9936,118.0511,
23,Rikitea,PF,78.57,-23.1203,-134.9692,People ThankYou
25,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
27,Iberia,US,79.05,29.9502,-91.7507,back to back rv park

In [64]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [66]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))